@use "../../abstracts/" as *;

.ArtistsPage {
  margin: 50px 0 80px;
  padding: 0 7px;
  ._Banner {
    margin: 0 0 12px;
    height: 60px;
    @include flex(row, flex-start, flex-end);
    .Shape {
      height: rem(26);
      width: 16px;
      background: $AccentColor;
    }
    h2 {
      color: darken($PrimaryColor, 10%);
      height: rem(26);
      font-size: rem(26);
    }
  }

  .ArtistsWrapper {
    @include flex(column, flex-start, stretch, rem(7));
    .Artist {
      height: rem(70);
      padding: 0 rem(12);
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
      border-radius: rem(5);
      @include flex(row, flex-start, center, rem(7));
      .AvatarWrapper {
        height: rem(40);
        aspect-ratio: 1/1;
        border-radius: 50%;
        color: $AccentColor;
        font-size: rem(38);
        @include flex(row, center, center);
      }
      .TextWrapper {
        h2 {
          font-size: rem(18);
          letter-spacing: rem(1);
        }
        p {
          font-size: rem(14);

          letter-spacing: rem(-0.5);
        }
      }
    }
  }
}

.ArtistsDynamic {
  margin: 50px 0 80px;
  padding: 0 rem(7);
  .ArtistDetail {
    padding: rem(20) 0;
    @include flex(column, center, center);

    .AvatarWrapper {
      height: auto;
      aspect-ratio: 1/1;
      @include flex(column, center, center);
      font-size: rem(120);
      color: $AccentColor;
    }

    h2 {
      font-size: rem(26);
      letter-spacing: rem(1);
    }
    p {
      font-size: rem(18);

      letter-spacing: rem(-0.5);
    }
  }

  ._Banner {
    margin: 0 0 12px;
    height: 60px;
    @include flex(row, flex-start, flex-end);
    .Shape {
      height: rem(26);
      width: 16px;
      background: $AccentColor;
    }
    h2 {
      color: darken($PrimaryColor, 10%);
      height: rem(26);
      font-size: rem(26);
    }
  }

  .ImageGallery {
    @include flex(row, space-between, flex-start, 3px);

    flex-wrap: wrap;
    .ImgWrapper {
      flex: 1;
      max-width: 50%;
      min-width: 40%;
      height: rem(300);
      @include flex(center, center);
      img {
        width: 100%;
        height: 100%;
        border-radius: 3px;
        object-fit: cover;
      }
    }
  }
}
