@use "../abstracts" as *;

.Appbar {
  z-index: 999999;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  padding: 0 7px;
  justify-content: space-between;
  align-items: center;
  background: $BgColor;
  border-bottom: 1px solid lighten($TextColor, 60%);
  height: 50px;

  .LogoWrapper {
    width: fit-content;
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .Logo {
      font-family: $AccentFont;
      color: $PrimaryColor;
      font-size: 32px;
      font-weight: bold;
    }
  }

  .UserBlock {
    padding: 0 10px;
    display: flex;
    gap: 2px;
    align-items: center;

    figure {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
    }

    .UserIcon {
      border-radius: 50%;
      font-size: 20px;
      padding: 1px;
      background-color: $AccentColor;
      color: $BgColor;
    }
    .Username {
      margin-left: 5px;
      font-weight: bold;
      letter-spacing: 1px;
    }
    .Dropdown {
      border-radius: 50%;
      padding: 4px;
      font-size: 18px;
      justify-content: flex-end;
      &:active {
        background: $TextColor;
        opacity: 0.8;
      }
    }
  }
}
